<div class="grid-container">
    <div class="grid-item"></div>
    <card-web class="m-auto">
        <h2 class="text-center">Login</h2>
        <hr>
        <form class="main-form" [formGroup]="loginForm">
            <label for="username">Username</label>
            <input type="text" id="username" placeholder="Username" formControlName="userName" checkValidity
                [isValid]="loginForm.get('userName').valid">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Password" formControlName="password" checkValidity
                [isValid]="loginForm.get('password').valid">

            <div class="text-center">
                <button class="button btn-login" (click)="checkUserExistance()">Login</button>
            </div>
        </form>
    </card-web>

</div>