.grid-container {
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
    grid-gap: 25px;
    padding: 2%;

    .card-size {
        height: 200px;
        max-width: 90%;
        .inner-pos {
            color: var(--theme-text);
            img {
                object-fit: cover;
            }
            .book-name {
                display: block;
                text-align: left;
                white-space: nowrap;
                font-size: medium;
                width: 160px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .button-bracket {
                display: flex;
                justify-content: space-between;
                .button {
                    padding: 1px 15px;
                }
                .btn-edit {
                    color: black;
                    &:hover {
                        background-color: springgreen;
                    }
                }
                .btn-del {
                    color: black;
                    &:hover {
                        background-color: red;
                    }
                }
            }
        }
    }
}
.not-data-msg {
    color: var(--theme-text);
    text-align: center;
    text-decoration: underline;
}

@media only screen and (max-width: 1024px) and (min-width: 850px) {
    .grid-container {
        grid-gap: 15px;
        .inner-pos {
            .book-name {
                width: 100% !important;
                font-size: small !important;
            }
        }
        .button-bracket {
            .button {
                padding: 1px 10px !important;
            }
        }
    }
}

@media only screen and (max-width: 849px) and (min-width: 425px) {
    .grid-container {
        grid-template-columns: 30% 30% 30%;
        .inner-pos {
            .book-name {
                width: 100% !important;
                font-size: small !important;
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    .grid-container {
        grid-template-columns: 100%;
        .inner-pos {
            .book-name {
                width: 100% !important;
                font-size: small !important;
            }
        }
    }
}
