<div class="grid-container">
    <div class="grid-item"></div>
    <card-web class="m-auto">

        <h2 class="text-center">{{isEdit?'Update':'Add New '}} Book</h2>
        <hr>
        <form class="main-form" [formGroup]="addBookForm">
            <label for="bookName">Book Name</label>
            <input type="text" id="bookName" placeholder="Book Name" formControlName="name" checkValidity
                [isValid]="addBookForm.get('name').valid">
            <label for="bookUrl">Book Image Url</label>
            <input type="text" id="bookUrl" placeholder="Image Url" formControlName="image" checkValidity
                [isValid]="addBookForm.get('image').valid">
            <label for="bookPrice">Price</label>
            <input type="text" id="bookPrice" placeholder="Book Price" formControlName="price" checkValidity
                [isValid]="addBookForm.get('price').valid">

            <div class="text-center">
                <button class="button btn-login" (click)="addBook()">{{isEdit?'Update':'Add'}} Book</button>
            </div>
        </form>
    </card-web>

</div>