.grid-container {
    display: grid;
    grid-template-columns: auto 30% auto;
    height: 85vh;
    .main-form {
        label {
            font-weight: 500;
        }
        .btn-login {
            background-color: black;
            margin-top: 10px;
        }
    }
}
@media only screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 30% 40% 30%;
    }
}

@media only screen and (max-width: 425px) {
    .grid-container {
        grid-template-columns: 10% 80% 10%;
    }
}
